<plugin name='spring-integration-core' version='2.0.5.2.SNAPSHOT' grailsVersion='1.3.6 &gt; *'>
  <author>Steef de Bruijn</author>
  <authorEmail>steef@debruijn.ws</authorEmail>
  <title>Spring Integration support for Grails - Core</title>
  <description>This plugin provides basic dependency support for the Spring Integration Core jar.

Please post your issues on GitHub
</description>
  <documentation>http://steefdebruijn.github.com/grails-spring-integration</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>